@charset "UTF-8";

h1 {
	background-color: blue;
	color: yellow;
	font-family: 'Potta One', cursive;
	src: url(fuentes/PottaOne-Regular.ttf);
	text-align: center;
	width: 75vw;
}

p.turquesa {
	color: white;
	background-color: #008080;
	box-sizing: content-box;
	width: 25vw;
	position: static;
	display: inline-block;
}

p.yellow {
	line-height: 200%;
	box-sizing: content-box;
	position: absolute;
	display: inline;
	width: 70vw;
}
.yellow mark{
	color:yellow;
	background-color:black;
}

div.centrado {
	text-align: center;
}

hr.medio {
	width: 50%;
	display: inline-block;
}

hr.azul {
    background-color: blue;
    height: 1vw;
    width: 75vw;
    margin:0;
    padding:0; 
}

p.coda {
	font-family: 'Coda Caption', sans-serif;
}

p.magic {
	font-family: 'Yusei Magic', sans-serif;
	src: url(fuentes/YuseiMagic-Regular.ttf);
	font-weight: bold;
}